<form class="modal-content" method="post">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
		<h4 class="modal-title">Login</h4>
	</div>
	<div class="modal-body">
		<div method="post">
			<div class="hide alert alert-error"></div>
			<div class="form-group">
				<label>Username</label>
				<input type="text" name="username" class="form-control" placeholder="username or email address">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="password" class="form-control">
			</div>
			<div class="checkbox">
		    <label>
		      <input type="checkbox" name="remember">Remember me
		    </label>
		  </div>
		  <div>
		  	Don't have an account yet?<a class="gutter js-signup" href="javascript:void(0)">Create one now!</a>
			</div>
			<!-- Support enter key submit -->
			<input type="submit" class="invisible" style="position: absolute;">
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-loading ="Logging ...">Login</button>
	</div>
</form>